#Datepickk .d-header {
    background-color: #f18800;
}

#Datepickk .d-week {
    background-color: #ffc57a;
    color: #4c2626;
}

#Datepickk .d-table input + label:before {
    background-color: #ff6666;
}

#Datepickk .d-tables.range:not(.before) input:not(.single):checked + label ~ label:not(.hidden):before {
    background-color: #ffb2b2;
  }